extends familylayout
block bcontent
    div#container.container
    include narbar.jade
    include alert.jade
    form(class='form-horizontal' action="/expande" method="post")
                .form-group
                     div(class="col-sm-offset-4 col-sm-2")
                       h1 支出
                .form-group
                  label(class="col-sm-4 control-label" for='costtype') 花费类型
                  .col-sm-2
                      select(name='costtype' id="costtype")
                        option(value='1') 衣服
                        option(value='2') 食物
                        option(value='3') 住房
                        option(value='4') 车费
                        option(value='5') 其他
                .form-group
                  label(class="col-sm-4 control-label" for='cost') 花费金额
                  .col-sm-2
                    input(id="cost" name='cost' class="form-control" type='number', placeholder='金额')
                .form-group  
                   div(class="col-sm-offset-4 col-sm-2") 
                      button(type='submit' class="btn btn-primary") 提交
    include footer.jade
