extends familylayout
block bcontent
  include narbar.jade
  div.jumbotron
    div.container
          a(class='btn btn-primary btn-lg' href="/expande" role="button") 支出
          a(class='btn btn-primary btn-lg' href="/income" role="button") 收入
          include ./expandeshow.jade
  include footer.jade
