//Fixed navbar
div.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header
      button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(class='navbar-brand' href='/') Family
        
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='/family') 首页
        li
            a(href='/blog') 生活记忆
        li
            a(href='/finance') 财务
        li
            a(href='') 其他             
      ul.nav.navbar-nav.navbar-right
        - if (user)
              li
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    span=user.name                            
                    span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') 用户信息
                  li
                    a(href='#') 修改密码
                  li.divider
                  li.dropdown-header 
                    a(href='/logout') 退出
        - else
              li
                a(href='/login') 登录

